<table class="table table-striped">
  <tr>
    <th>Team</th>
    <th>Robot</th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td>
        <% if team.name == team_name %>
          <i class="icon-star"></i>
        <% end %>
        <%= team.name %>
      </td>
      <td><%= team.robot_name %></td>
    </tr>
  <% end %>
</table>
