<form action="/login" method="post" class="form-inline well">
  <legend>Enter a new name and choose a password to create a new team, or log in as an existing team.</legend>
  <input name="team_name" placeholder="Robots Я Us" autofocus>
  <input type="password" name="password" placeholder="Secret">
  <button class="btn btn-primary" type="submit"><i class="icon-user icon-white"></i> Log in</button>
</form>
