<form action="/login/attempt" method="post" class="form-inline well">
  <legend>Enter a new name and choose a password to create a new robot, or log in as an existing robot.</legend>
  <input name="robot_name" placeholder="My Cool Robot" autofocus>
  <input type="password" name="password" placeholder="Secret">
  <button class="btn btn-primary" type="submit"><i class="icon-user icon-white"></i> Log in</button>
</form>
