<form action="/new" method="post" enctype="multipart/form-data" class="form-inline well">
  <div class="fileupload fileupload-new" data-provides="fileupload">
    <span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="data" /></span>
    <span class="fileupload-preview"></span>
    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
  </div>
  <button class="btn btn-primary" type="submit"><i class="icon-upload icon-white"></i> Upload</button>
</form>
